<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
  
  <bean id="MiPersona" class="com.miempresa.ejemplo.Mujer">
    <property name="nombre" value="Alba"/>
    <property name="edad" value="18"/>
    <property name="pareja">
    	<ref bean="MiOtraPersona"/>
    </property>
  </bean>
    
  <bean id="MiOtraPersona" class="com.miempresa.ejemplo.Mujer">
    <property name="nombre" value="Isabel"/>
    <property name="edad" value="18"/>
    <property name="pareja">
    	<ref bean="MiPersona"/>
    </property>
  </bean>
   
</beans>
